@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
h1,p
{
    font-size: 20px;
}




header
{

    background-color: black;
    width: 100%;
    float: left;
    padding: 0px;
    color: white;
    
}
.header-sec1 {
    width: auto;
    float: left;
    padding: 0px;
    margin: 0px 70px;
    

}
.header-sec2

{
    float: right;
    margin: 0px 30px;
}
.btnhamberg
{
    height: 25px;
    width: 40px;
    background-color: black;
    color: darkgray;
    font-size: 18px;
    border: 1px solid;
    margin: 10px 45px

}
.section {
    text-align: center;
    float: left;
    padding: 0px;
    width: 100%;
    background-color:white;
}
.sec-title h1 {
    font-size: 40px;
    color: #5e5e5e;
    font-weight: 400;
    margin: 8px;
}
.sec-title {
    float: left;
    padding: 0px 275px;
}
.sec-head {
    padding: 90px 50px;
    float: left;
}
section.folder2 {
    background-color: aliceblue;
    float: left;
    padding: 100px 0px;
    width: 100%;
}
section .folder-head {
    display: inline-block;
    float: left;
    padding: 0px;
    width: 100%;
    margin-left: 0;
}
.folder-content1 {
    background-color: #fff;
    float: left;
    margin-bottom: 17px;
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    overflow: hidden;
}
.folder-content1 p{
    font-size: 15px;
	padding:10px;
}
 .footer p {
    font-size: 15px;
}
.folder-head.row .col-md-4 {
    float: left;
    width: 31.43%;
    padding: 10px;
    display: inline-block;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    clear: both;
}
.folder-content1 img {
    width: 100%;
}
.folder-content1 ul {
    padding: 0px;
    float: left;
    margin: 0 0 12px 8px !important;
}
.folder-content1 ul li {
    float: left;
    padding: 1px;
    list-style: none;
    color: #5e5e5e;
}
.folder-content1 ul li a {
    color: #5e5e5e;
    border: solid 1px #808080;
    padding: 2px 10px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
}
.folder-content1 span {
    float: right;
    padding: 0px;
    color: #808080;
    margin: 0 10px 0 0;
}
footer.footer {
    float: left;
    padding: 0px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid;
}
.footer-body {
    display: flex;
    justify-content: space-between;
    padding: 20px 44px;

}
p {
    color: #999;
    font-size: 17px;
    line-height: 24px;
}
.sec-title h1 {
    font-size: 40px;
    color: #5e5e5e;
    margin: 8px;
}
.button_style {
	text-decoration:none;
    background: #808080;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    margin: 10px 10px;
    display: inline-block;
}
.button_style:hover {
    background: #0089ff;
}
@media  only screen and (min-width:300px) and (max-width:600px) 
{
    .folder-head.row .col-md-4 {
        width: 96%;
    }
    .sec-title {
    
        padding: 64px 8px;
    }
    .header-sec1 {
        padding: 0px 15px;
        float: left;
        margin: 0px 2px;
        width: auto;
    }
    .sec-head
    {
        float:left;
        padding: 0px;
    }

button.btnhamberg {

    margin: 5px 5px;
    height: 40px;
    font-size: 20px;
    width: 50px;
}
    .header-sec2 {
        float: right;
        margin: 0px 0px;
        
    }
}

